html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c9ced3;
  letter-spacing: 1px;}

.container {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  width: 450px;
  height: 620px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.4);
}

.message-container {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

form {
  align-items: center;
  justify-content: center;
  width: 90%;
}

.form-group {
  margin-bottom: 7px;
}

input {
  width: 100%;
  padding: 7px;
  margin: 8px 0;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
  margin-bottom: 5px;
}


input:invalid {
  border: 1px solid red;
}


input:valid {
  border: 1px solid green;
}

button {
  margin-bottom: 15px;
  color: white;
  background: #030303;
  border: none;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  height: 50px;
  font-size: 20px;
  letter-spacing: 2px;
}

button:hover {
  filter: brightness(170%);
  background: rgb(21, 21, 21);
}

button:focus {
  outline: none;
}